div.footerBar{
    width: 100%;
    text-align: center;
    font-size: 13px;
    height: 20px;
    padding:10px;
}

.footerBar .button.ui.button.noStyle{
    font-size: 13px;

}

.footerBar .button.ui.button.noStyle:hover {
    color:#333!Important;
}

@media only screen and (max-width: 600px) {
    div.footerBar{
        font-size: 11px;
        height: 50px;
    }

    .footerBar .button.ui.button.noStyle{
        font-size: 11px;
    }
    
}
