@import-normalize;

div.footerBar{

    padding:5px!important;
    width: 100%;
    text-align: center;
    height: 0px!important;
    font-size: 13px;
}

.footerBar .button.ui.button.noStyle{
    font-size: 13px;

}

.footerBar .button.ui.button.noStyle:hover {
    color:#333!Important;
}

@media only screen and (max-width: 600px) {
    div.footerBar{
        font-size: 11px;
    }

    .footerBar .button.ui.button.noStyle{
        font-size: 11px;
    }
    
}
